@use "./mixins.scss" as *;

.content-max-width {
  padding: 0 3%;

  @include desktop {
    max-width: var(--responsive-width);
    margin: 0 auto;
    padding: 0;
  }
}

body {
  margin: var(--spacing-14) 0;
}
