@use "./mixins.scss" as *;

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: inherit;
  
  &:active,
  &:focus {
    outline: none;
  }
}

.align-center {
  text-align: center;
}

html {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.84);
}

hr {
  background: #e6e6e6;
  border: none;
  display: block;
  height: 1px;
  margin-bottom: var(--spacing-05);
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: var(--spacing-05);
}

h2 {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: var(--spacing-05);
}

h3 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: var(--spacing-05);
}

h4 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: var(--spacing-05);
}

h5 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: var(--spacing-05);
}

h6 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: var(--spacing-05);;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: var(--spacing-01);
  letter-spacing: 0.3px;
}

p:empty {
  display: none;
}

li {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: var(--spacing-02);
}

small {
  font-size: 0.8em;
}

strong {
  font-weight: 700;
}

ol,
ul {
  list-style-position: outside;
  margin-left: var(--spacing-05);
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ol ol ol ol {
  list-style-type: lower-greek;
}

ol ol ol ol ol {
  list-style-type: decimal;
}

ol ol ol ol ol ol {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

ul ul ul ul {
  list-style-type: circle;
}

ul ul ul ul ul {
  list-style-type: disc;
}

ul ul ul ul ul ul {
  list-style-type: circle;
}

code,
kbd,
samp,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  background-color: #f2f2f2;
  color: #333;
  font-size: 14px;
}

kbd,
samp {
  border-radius: 3px;
  line-height: 1.77778;
  padding: var(--spacing-01);
  vertical-align: baseline;
}

code, .codeblock {
  -webkit-font-smoothing: initial;
  padding: 2px 8px;
  font-family: var(--font-family-monospace);
  margin: 0 2px;
  border-radius: 2px;
  color: #292929;
  background-color: #e6e6e6;
}

.codeblock {
  white-space: pre;
  margin: 0 0 var(--margin-bottom-desktop) 0;
  display: block;
  border-radius: 4px;
  padding: 1.25em 1em;
  font-family: var(--font-family-monospace);
  border-radius: 4px;
  -webkit-font-smoothing: initial;
  overflow-x: scroll;
  max-width: 100%;
  font-size: 14px;

  * {
    -webkit-font-smoothing: inherit;
  }

  &.language-plaintext {
    padding: 0 0 0 12px;
  }
}

pre {
  margin: 0 0 var(--margin-bottom-desktop) 0;
  display: block;
  border-radius: 4px;
  padding: 1.25em 1em;
  -webkit-font-smoothing: initial;
  transition: 
    background-color var(--color-scheme-transistion-duration) ease-in-out, 
    color var(--color-scheme-transistion-duration) ease-in-out;

  * {
    -webkit-font-smoothing: inherit;
  }

  code {
    position: relative;
    padding: 0 0 0 44px;
    margin: 0;
    font-family: var(--font-family-monospace);
    border-radius: 4px;
    line-height: 22px;
    display: block;
    overflow-x: scroll;
    max-width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-size: 14px !important;

    @include mobile() {
      font-size: 16px !important;
    }

    &.language-plaintext {
      padding: 0 0 0 12px;
    }
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

dl,
ol,
ul,
blockquote,
pre,
table {
  margin-bottom: var(--spacing-05);
}

p:last-child,
dl:last-child,
ol:last-child,
ul:last-child,
blockquote:last-child,
pre:last-child,
table:last-child {
  margin-bottom: 0;
}

// Table
table {
  width: 100%;
}

table pre {
  white-space: pre-wrap;
}

th,
td {
  font-size: 14px;
  padding: var(--spacing-01);
  border: 1px solid #e6e6e6;
}

thead tr,
tfoot tr {
  background-color: #f5f5f5;
}

thead th,
thead td,
tfoot th,
tfoot td {
  font-size: 14px;
  padding: var(--spacing-01);
}

thead th code,
thead td code,
tfoot th code,
tfoot td code {
  background-color: #fff;
}

tbody tr {
  background-color: #fff;
}

select,
input[type="text"], input[type="number"] {
  display: block;
  width: 100%;
  line-height: 20px;
  color: rgb(36, 41, 47);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(208, 215, 222);
  padding: 0 var(--spacing-02);
  height: 36px;
  outline: none;
  box-shadow: rgba(208, 215, 222, 0.2) 0px 1px 0px inset;
  -webkit-box-align: stretch;
  align-items: stretch;
}

select {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-04);
}

// Misc
blockquote {
  border-left: 4px solid #e6e6e6;
  padding: 0.6em 1.2em;
}

blockquote p {
  margin-bottom: 0;
}

dd {
  margin-left: 1.4em;
}

figure {
  margin-bottom: 2.8em;
  text-align: center;
}

figure:first-child {
  margin-top: 0;
}

figure:last-child {
  margin-bottom: 0;
}

figcaption {
  font-size: 0.8em;
  margin-top: 0.875em;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

cite {
  font-style: italic;
}

ins {
  background-color: lime;
  text-decoration: none;
}

mark {
  background-color: #ff0;
}

sub,
sup {
  font-size: 0.8em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}