<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
    <title>Commbank Statement Converter</title>
    <base href="<%- ctx.base_href %>" />
    <link rel="stylesheet" href="<%- ctx.styles.get('index.css') %>">
</head>
<body class="page-home">
  <!-- Placed in the body for better SEO -->
  <header class="content-max-width">
    <div>
      <h1>Bank Statement Converter <small>PDF to CSV</small></h1>
    </div>
    <a class='link-github' target="_blank" href="https://github.com/alshdavid/commbank-statement-converter">
      Github
      <img src="static/github-mark.svg" alt="" />
    </a>
  </header>
  <main class="content-max-width">
    <div class='description'>
      <p>
        This site takes PDF bank statements and converts them to CSV or JSON
        format in your browser.
      </p>
      <p>
        If you have questions, encounter bugs or want to request features, you
        can raise them using the
        <a target="_blank" href="https://github.com/alshdavid/commbank-statement-converter/issues">
          bug reporter
        </a>
      </p>
      <div class='notice'>
        <p>
          Privacy is very important to this project so bank statements never leave your
          computer and are converted directly within your browser.
        </p>
        <p>
          The source code is available <a class='link-github' target="_blank" href="https://github.com/alshdavid/commbank-statement-converter">here</a> for audits or contributions.
        </p>
      </div>
    </div>
    <div id="root"></div>
    <script type="module" src="<%- ctx.scripts.get('index.js') %>"></script>
  </main>
</body>
</html>