@import './styles/var-colors';
@import './styles/var-spacing';
@import './styles/common';

.notice {
  margin: var(--spacing-02) 0;
  padding: var(--spacing-04) var(--spacing-08);
  background-color: var(--color-grey-100);
  border: 2px solid var(--color-grey-300);
  border-radius: 4px;

  &.blue {
    background-color: var(--color-blue-50);
    border-color: var(--color-blue-300);
  }
  
  &.yellow {
    background-color: var(--color-amber-50);
    border-color: var(--color-amber-300);
  }
}

.field {
  & input, & label {
    display: block;
    margin: var(--spacing-02) 0;
  }
  
  & label {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }
  
  & label *:last-child {
    margin-left: var(--spacing-02);
  }
}

footer {
  min-height: 100px;
}