.form-file-picker {
  display: block;

  &[disabled] {
    opacity: 0.5;
  }

  button {
    font-size: 16px;
  }

  .selected-files {
    p {
      padding: var(--spacing-03) 0 0 var(--spacing-01);
    }
  }
}